.clock {
    border-radius: 50%;
    background: #000 url(images/clockface4.png) no-repeat center;           /* Dit is de wijzerplaat (clockface) van de klok. Ik heb deze wijzerplaat zelf gemaakt en samengesteld. */
    background-size: 95%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 50px #fff;                                              /* #fff = wit. Voor het ultieme ruimtegevoel wilde ik dat de klok een witte gloed had. Dat ziet er futuristisch uit in combinatie met de achtergronden. */
}
  
.clock.simple:after {
    background: #000;                                                       /* #000 = zwart */
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fives {
    z-index: 100;
}

span {
    display: block;
    width: 1px;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
}

span:after {
    content: "";
    background-color: #A0A1A4;                                              /* Een kleur grijs. */
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
}

span:before {
    content: "";
    background-color: #A0A1A4;                                              /* Een kleur grijs. */
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
}

.hours {
    background-color: #000;
    border: 0.2em solid #d6d8e4;
    border-radius: 25%;
    height: 20%;
    left: 48.75%;
    position: absolute;
    box-sizing: border-box;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.75%;
    z-index: 4;
}

.minutes {
    background-color: #000;
    border: 0.175em solid #d6d8e4;
    border-radius: 25%;
    height: 40%;
    left: 49%;
    position: absolute;
    box-sizing: border-box;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
    z-index: 8;
}

.seconds {
    background-color: #000;
    border: 0.15em solid #b44f2d;                                           /* Kleur naam: Pantone 8924 C Color */
    border-radius: 50%;
    height: 45%;
    left: 49.5%;
    position: absolute;
    box-sizing: border-box;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1.5%;
    z-index: 6;
}

.midCircle {
    background-color: #000;
    border: 0.25em solid #fff;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    width: 4%;
    height: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 10;
}





@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}



.hours-container {
    animation: rotate 43200s infinite linear;                               /* De kleine wijzer moet langzaam gedurende het uur verplaatsen. */
}

.minutes-container {
    animation: rotate 3600s infinite steps(60);                             /* De grote wijzer moet per 3600s (= 60 minuten) in 60 stappen 360 graden (zie keyframe rotate) draaien. Dus dat zijn 60 stappen van elk 6 graden, waardoor je het gevoel krijgt dat de klok 'tikt' */
}

.seconds-container {
        animation: rotate 60s infinite steps(60);                           /* De seconde wijzer moet per 60s (= 1 minuut) in 60 stappen 360 graden (zie keyframe rotate) draaien. Dus dat zijn 60 stappen van elk 6 graden, waardoor je het gevoel krijgt dat de klok 'tikt' */
}


                                                                            /* De grootte van de klok verandert per schermgrootte */
/* smartphone */
@media only screen and (max-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait){ 
    .clock {
        height: 15em;
        width: 15em;
    }
}

/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .clock {
        height: 30em;
        width: 30em;
    }
}

/* small desktop */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1439px) {
    .clock {
        height: 30em;
        width: 30em;
    }
}

/* large desktop */
@media only screen and (min-device-width: 1440px) {
    .clock {
        height: 30em;
        width: 30em;
    }
}